.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    /* transform: scale(1); */
    transition: opacity .25s, transform .25s;
    /* z-index:99; */
    background-color: rgba(52, 52, 52, 0.3);
    /* background-color: rgba(0 0 0 0.8); */
    backdrop-filter: blur(10px);
    z-index: 100;
}

.modal .content {
    position: absolute;
    width: 70%;
    height: 300px;
    max-height: 70%;
    top: 30%;
    left: 15%;
    background: #fff;
    border-radius: 15px;
    /* box-shadow: 1px 1px 10px -2px #222; */
    /* padding: 20px; */
}

.scroll {
    /* background-color: lightblue; */
    height: 70%;
    /* width: 200px;       */
    overflow-y: auto;
}