.modal-menu {
    /* background-color: rgba(0 0 0 0.8);
    backdrop-filter: blur(10px); */
    /* background-color: rgba(52, 52, 52, 0.8); */
    /* display: flex; */
    width: 100%;
    height: 70%;
    background-color: #fff;
    align-content: center;
    position: fixed;
    bottom: 0;
    bottom: -200%;
    transition: 850ms;
    border-bottom: 0px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow-y: auto;
    z-index: 100;
}

.modal-menu.active {
    bottom: 0;
    transition:  350ms;
    /* background-color: ; */
}

textarea { border-style: none; width: 100%;}
textarea:focus, input:focus { outline: none; }
