.menu {
    z-index: 1;
}

input:focus { 
    outline: none !important;
}

.jumlah-order {
    background-color: #fff;
    height: 60px;
    display: flex;
    position: fixed;
    width: 100%;
    /* z-index: 3; */
    bottom: 0;
}