.loading-menu {
    /* background-color: rgba(0 0 0 0.8); */
    backdrop-filter: blur(2px);
    /* background-color: rgba(52, 52, 52, 0.3); */
    width: 100%;
    height: 100%;
    /* display: flex; */
    align-content: center;
    position: fixed;
    top: 0;
    border-bottom: 0px solid;
    z-index: 100;
    display: grid;
    justify-content: center;
}