.modalGlobal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: opacity .25s, transform .25s;
    background-color: rgba(52, 52, 52, 0.3);
    backdrop-filter: blur(2px);
    z-index: 100;
    display: flex;
    justify-content: center;
}

.modalGlobal .contentGlobal {
    position: absolute;
}