

.blur {
    filter: blur(7px);
    -webkit-filter: blur(7px);
    /* background-color: rgba(52, 52, 52, 0.2);
    height: 60px;
    position: fixed;
    width: 100%; */
}

.navBar {
    border-bottom: 0px solid;
    box-shadow: 0px 0px 10px -5px black;
    /* background-color: white; */
    background-color: rgba(0 0 0 0.8);
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    z-index: 100;
}

.navBar-header {
    display: flex;
    width: 100%;
    /* height: 60px; */
    background-color: white;
    justify-content: center;
    align-items: center;
}

.menu-bars {
    /* margin-left: 1rem;
    font-size: 1rem; */
    background: none;
    /* text-align: end; */
    background-color: #05D03E;
}

.nav-menu {
    /* background-color: rgba(0 0 0 0.8); */
    backdrop-filter: blur(10px);
    background-color: rgba(52, 52, 52, 0.3);
    width: 100%;
    height: 100%;
    /* display: flex; */
    align-content: center;
    position: fixed;
    top: 0;
    top: -100%;
    transition: 850ms;
    border-bottom: 0px solid;
    z-index: 100;
    
}

.nav-menu.active {
    top: 0;
    transition:  350ms;
    /* background-color: ; */
}

.nav-menu-items {
    padding:  25px 16px 8px 16px;
}

.Online {
    display: flex;
    align-items: center;
}

.icon-online {
    width: 15px;
    height: 15px;
    background-color: #05D03E;
    border-radius: 15px;
    margin-right: 10px;
}

.nav-text {
    /* display: flex; */
    /* justify-content: start; */
    /* align-items: center; */
    /* list-style: none; */
    /* height: 30px; */
    margin-top: 20px;
    /* background-color: pink; */
}

.navBar-login {
    align-items: center;
    justify-content: center;
    padding-bottom: 20px
    /* display: flexbox; */
}

.button-login {
    padding: 10px 0px 10px 0px;
    /* background-color: #552cb7; */
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}
