.label_selected {
    font-size: 12px;
}
.selected {
    position: relative;
    background-color: #fff;
    width: 100%;
    border: none;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.selected required invalid {
    color: #fbfcff;
}

.selected focus {
    outline: none;
    border-color: #818283;
    box-shadow: none;
}