@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css?family=Anton');


.fontsMedium500 {
    font-family: 'Anton', sans-serif;
}
.fontsMedium400 {
    font-family: 'DM Sans', sans-serif;
}